[submodule "libs/ff-core"]
	path = libs/ff-core
	url = git@github.com:framefactory/ff-core.git
[submodule "libs/ff-svc"]
	path = libs/ff-svc
	url = git@github.com:framefactory/ff-svc.git
[submodule "libs/ff-browser"]
	path = libs/ff-browser
	url = git@github.com:framefactory/ff-browser.git
