<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

    <title>{{htmlWebpackPlugin.options.title}}</title>

    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel='stylesheet' href="css/global.css">

    {{#if htmlWebpackPlugin.options.isDevelopment}}
    {{else}}
    {{/if}}
</head>

<body>
</body>
</html>
